/*
#867070
#D5B4B4
#E4D0D0
#F5EBEB
*/

.AddItem-container{
    display: flex;
    justify-content: center;
}

.AddItem{
    background-color:#D5B4B4 ;
    padding: 7px 40px 20px 40px;
    width:max-content;
    border-radius: 20px;
    margin: 10px 10px 20px 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.AddItem h2{
    color: #F5EBEB;
    border-radius: 18px;
    padding: 4px;
    background-color: #867070;
}

.AddItem .form-attribute{
    display: flex;
    padding: 8px;
    justify-content: right;
}

.AddItem .form-attribute input, select{
    padding: 5px 5px 5px 8px;
    margin-left: 7px;
    border-radius: 7px;
    border-style: none;
}

.AddItem .form-attribute select{
    padding: 5px 5px 5px 6px;
    width:175px;
}

.AddItem .add-button input{
    background-color: #867070;
    padding: 7px 14px 7px 14px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 14px;
    color: #E4D0D0;
    border-style:none;
    outline:#D5B4B4;
}

.AddItem .add-button input:focus{
    background-color: #4e4141;
}