/*
#867070
#D5B4B4
#E4D0D0
#F5EBEB
*/



.container{
    display:flex;
    background-color:#E4D0D0;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px 10% 20px 10%;
    border-radius: 12px;
    width:60%;
    /*border: 2px solid #a8a8bf;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19); */

}

.logo{
    display:flex;
    width:60%;
    background-color:'white';
    justify-content: left;
    padding-top: 12px;
    padding-right: 30px;
    color: #867070;
}

.logo img{
    height:50px;
    width: auto;
}

.event{
    display:flex;
    width:100%;
    justify-content: left;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: #16161d;
}

.print-container{
    display:flex;
    width:200%;
    justify-content: right;
    align-items: center;
    padding: 15px;
}

.print-container .print{
    display: flex;
    font-weight: 100;
    align-items: center;
    padding: 7px 10px 7px 10px;
    border-radius: 12px;
    color: #1e1e26;
    background-color: #F5EBEB;
}

.print-container .print img{
    padding-right: 10px;
}